<html>

	<head>
		<title>FCC Pinterest Clone</title>
		
		{{!--<link href="/public/css/main.css" rel="stylesheet" type="text/css">--}}
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<style>
      body {
        background-color: #ddd;
      }
		</style>
	</head>
	
	<nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">FCC Pinterest</a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          {{#if isLoggedIn}}
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/my-wall">My Wall</a></li>
                <li><a href="/add">New Pin</a></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
          {{else}}
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/auth/twitter">Login with Twitter</a></li>
              </ul>
          {{/if}}
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

	<body>
	    <div class="container-fluid">
	        {{{body}}}
	    </div>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.0/masonry.pkgd.min.js"></script>
	</body>

</html>